[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
gcode:
    M117 Starting print
    WIPER_HIDE
    {% set BED_TEMP = params.BED_TEMP|default(100)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(235)|float %}
    {% set MATERIAL = params.MATERIAL|default('N/A')|string %}
    SET_Z_OFFSET BED_TEMP={BED_TEMP}
    M117 Bed heating
    SET_LED_EFFECT EFFECT=side_heating_bed REPLACE=1 
    M190 S{BED_TEMP}  
    M117 Homing
    SET_LED_EFFECT EFFECT=side_homing REPLACE=1 
    M104 S{EXTRUDER_TEMP - 100}     
    G28                            
    G90                           
    M117 Preheating
    SET_LED_EFFECT EFFECT=side_heating_extruder REPLACE=1 
    G1 Z30 X85 Y103 F3000
    WIPER_ENTER
    M117 Preheating
    M109 S{EXTRUDER_TEMP - 100}
    SET_LED_EFFECT EFFECT=side_printing REPLACE=1  
    WIPER_WIPE_INSIDE
    WIPER_EXIT
    M117 Heating
    # compensating for smooth pei sheet
    SET_GCODE_OFFSET Z_ADJUST=+0.060 MOVE=1
    VORON_PURGE EXTRUDER_TEMP={EXTRUDER_TEMP}
    M117
   
[gcode_macro PRINT_END]
gcode:
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(220)|float %}
    M400                           
    G92 E0                         
    G1 E-4.0 F3600                 
    G91                            
    TURN_OFF_HEATERS
    WIPER_HIDE

    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 25) %}
        {% set z_safe = 25.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             
    G0 X{x_safe} Y{y_safe} F20000  
    M107                           
    G90                            
    G0 X60 Y{max_y-10} F3600         
    M117
    M84
    SET_LED_EFFECT EFFECT=side_idle REPLACE=1 
